/* .side_bar{
    display: flex;
} */
/* .side_bar .side_left{
    width: 25%;
    padding: 0 70px;
} */
*{
    margin: 0;
    padding: 0;
    backface-visibility: hidden;
    box-sizing:border-box;
}
.side_bar a{
    font-size:15px;
    font-family: Nunito, sans-serif;
}
.center{
    font-family: khmer os siemreap;
}
.side_bar a:hover{
background-color: #ddd;
transition: .1s ease-out;
}
.navbar{
background-color: #005339;
}
 /* .side_bar .side_right{
    position: fixed;
    top: 110px;
    right: 0;
} */
.center h2{
line-height: 2;
}
.center p{
line-height: 1.6;
font-size:15px
}
/* ---------------------------------right side bar---------------------------------- */
.side_right{
    position: relative;
    z-index: 0;
}

.side_right .pin{
    
	position: fixed;
	top: 17%;
	left: 75%;
	padding:5px;
    
	/* background: red; */
	box-shadow: 0 1rem 5rem -2rem rgba(black,0.5);
	transition: transform 100ms linear;
    z-index:0;
}
.pin a img{
    width: 350px;
    z-index:0;
}
/* ---------------------------------right side bar---------------------------------- */


/* -----------------------------------------------------Footer----------------------------------------------- */
footer{
    position: relative;
    z-index:5;
}
.playstore{
  align-items: center;
  justify-content: center;
    height: 80px;

 
}
.appstore{
    justify-content: center;
  align-items: center;
    height: 80px;
    
 
}
.btn_footer .playstore img{
    width: 40px;
}
.btn_footer .appstore img{
    width: 45px;
}

.copyright{
    margin:0;
    padding: 0;
}
/* End -----------------------------------------------------Footer----------------------------------------------- */
